doctype html
html(lang='en')
  head
    title Audio Visualizer - Geographical
    link(rel='stylesheet', href='./index.scss')
    style.
      body {
        background: radial-gradient(ellipse at center 25%, #222 0%, #000 100%);
      }
    script(src='./3d.js', defer)
  body
    canvas.canvas#canvas
