doctype html
html(lang='en')
  head
    title Audio Visualizer - Glitch
    link(rel='stylesheet', href='./index.scss')
    script(src='./glitch.js', defer)

  body
    canvas.canvas#canvas

    button#play
      span &#9654;
      | Play Sound

    .copy
      p
        a(href="https://dova-s.jp/bgm/play6881.html" target="_blank") ♪ Sound Wave
      p
        a(href="https://unsplash.com/photos/3To9V42K0Ag" target="_blank") ▣ You Are Here
