doctype html
html(lang='en')
  head
    title Audio Visualizer - Lightning
    link(rel='stylesheet', href='./index.scss')
    script(src='./index.js', defer)

  body
    canvas.canvas#canvas

    button#play
      span &#9654;
      | Play Sound

    .copy
      p
        a(href="https://dova-s.jp/bgm/play10437.html" target="_blank") ♪ Missions
