doctype html
html(lang='en')
  head
    title Audio Visualizer - Solar Eclipse
    link(rel='stylesheet', href='./index.scss')
    script(src='./size2.js', defer)

  body
    canvas.canvas#canvas

    button#play
      span &#9654;
      | Play Sound

    .copy
      p
        a(href="https://dova-s.jp/bgm/play6872.html" target="_blank") ♪ Feather of the Angel
